@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.blueprint-comments :is(ol, ul) {
    list-style: disc;
    padding-left: 1.5rem;
}

.blueprint-comments :is(ol, ul) li {
    padding-block: 0.25rem;
}

.blueprint-comments :is(ol, ul) :is(ol, ul) {
    list-style: circle;
}

.blueprint-comments :is(ol, ul) :is(ol, ul) :is(ol, ul) {
    list-style: square;
}

.blueprint-comments h1 {
    font-size: 1.3rem;
    font-weight: 700;
}

.blueprint-comments h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.blueprint-comments h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

.blueprint-comments h4 {
    font-size: 1rem;
    font-weight: 700;
}

.blueprint-comments h5 {
    font-size: 0.9rem;
    font-weight: 700;
}

.blueprint-comments h6 {
    font-size: 0.8rem;
    font-weight: 700;
}

.blueprint-comments pre {
    @apply bg-slate-950;
    @apply text-slate-100;
    @apply rounded-xl;
    @apply p-3;
    font-size: 0.875rem;
}

.blueprint-comments p {
    font-size: 0.875rem;
}

.blueprint-comments p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

/* Give a remote user a caret */
.blueprint-comments .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
}

/* Render the username above the caret */
.blueprint-comments .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    left: -1px;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
}

.blueprint-comments ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

}

.blueprint-comments ul[data-type="taskList"] p {
    margin: 0;
}

.blueprint-comments ul[data-type="taskList"] li {
    display: flex;

}

.blueprint-comments a {
    color: #2f84d3;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.blueprint-comments ul[data-type="taskList"] li>label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
    vertical-align: middle;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
    border: 1px solid #adb5bd;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #2457ff;
    border: 1px solid #2457ff;
}

input[type="checkbox"]:checked::after {
    content: '\2713';
    color: #FFF;
    font-weight: 900;
    padding: 0px;
    line-height: 10px;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blueprint-comments ul[data-type="taskList"] li>div {
    flex: 1 1 auto;
}